@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 10px;
}

body {
    background-color: #FFF;
}

/* nav section start */
.head-img img{
    height: 10px;
    vertical-align: middle;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}

.head-one {
    position: absolute;
    font-family: Mulish;
}

.hero {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-section,
ul,
li {
    float: left;
    padding: 10px 0px;
    gap: 44px;
    list-style-type: none;
}

.nav-section ul li a {
    text-decoration: none;
    list-style-type: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* nav section end */
/* head img start */

.explore {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    width: 900px;
    background-size: cover;
    height: 400px;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.explore-text {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.item {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.explore p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.explore-input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 12px;
}

.explore-input .text {
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: 145px
}

.select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
    width: 150px
}

button {
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 150px
}

.read {
    display: flex;
}

.read-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.read-pera {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.un li {
    list-style-type: circle;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.read-btn {
    margin-top: 10px;
}

.middle {
    text-align: center;
}

.middle-heading {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.middle-pera {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container {
    width: 48%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;

}

.item-one {
    grid-column: 1/span 6;
}

.item-two {
    grid-column: 7/span 6;
}

.item-three {
    grid-column: 1/span 4;
}

.item-four {
    grid-column: 5/span 5;
}

.item-five {
    grid-column: 10/span 4;
}

.item-six {
    grid-column: 1/span 5;
}

.item-seven {
    grid-column: 6/span 7;
}

/* info section start */
.info-head {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.info-pera {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* info section end */
/* icon style  start*/
.icon-container {
    display: flex;
    justify-content: space-around;
}

.home {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.home h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.home p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.location {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.location h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.location p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.price {
    margin-left: 30%;
    margin-right: 20%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.price h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.price p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* icon style end */
/* news section start */
.news {
    display: flex;
    justify-content: space-around;
}

.news>.news-input {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    height: 390px;
}

.news-input input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.news-input,
input,
.subs {
    padding: 10px;
    width: 80%;
}


.news-input,
input {
    height: 50px;
    border-radius: 8px;
    border: none;
}

.news-input h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.news-input p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.news-img {
    margin-right: 500px;
}


.fix-img {
    position: absolute;
    margin-left: 90px;
}

.save {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fix-text {
    position: relative;
    top: 250px;
    left: 400px;
    transform: rotate(-19.628deg);
    width: 250px;
    height: 120px;

}

/* news section end */
/* footer section start */
footer {
    background: rgba(19, 19, 24, 0.05);
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h{
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.t{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

footer p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.foot {
    text-align: center;
}

h5 {
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* footer section end */
/* resposive style */
@media screen and (max-width:600px) {
    * {
        margin: 0;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .head-img {
        height: 35px;
        width: 33px;
    }

    .head-one {
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .nav-section,
    ul,
    li,
    a {
        margin-left: 1px;
    }

    .hero {
        color: #FF5400;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .nav-title {
        margin-bottom: 50px;
        margin-left: 120px;
    }

    .nav-section,
    ul {
        display: flex;
        gap: 12px;
    }

    .item {
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .explore {
        width: 350px;
        padding: 15px;
    }
    .explore-input .text{
        width: 150px;
        height: 20px;
    }
    .explore-input .select{
        width: 170px;
        height: 40px;
    }
    .explore-input .btn{
        width: 170px;
    }

    .explore-input,
    .text,
    .select,
    button {
        margin-top: 8px;
    }

    .explore-input {
        width: 250px;
        margin: 0 auto;
    }

    .explore-text {
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 800;
    }

    .read {
        flex-direction: column;
    }

    .read-img {
        width: 1800px;
    }

    .un,
    li,
    p {
        display: block;
        list-style-type: circle;
        margin-left: 5px;
        margin-right: 5px;
    }

    .read-btn {
        margin-left: 5px;
    }

    .read-img {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .image-container {
        grid-template-columns: 1fr;
    }

    .item-one {
        grid-column: 1/span 1;
    }

    .item-two {
        grid-column: 1/span 1;
    }

    .item-three {
        grid-column: 1/span 1;
    }

    .item-four {
        grid-column: 1/span 1;
    }

    .item-five {
        grid-column: 1/span 1;
    }

    .item-six {
        grid-column: 1/span 1;
    }

    .item-seven {
        grid-column: 1/span 1;
    }

    .icon-container {
        flex-direction: column;
    }

    .home {
        padding: 5px;
    }

    .location {
        padding: 5px;
    }

    .price {
        padding: 5px;
        margin: 0;
    }

    .news {
        flex-direction: column;
    }

    .news>.news-input {
        padding: 15px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        height: 250px;
        margin: 0 auto;
    }

    .news-input,
    input {
        height: 20px;
        border-radius: 8px;
        border: none;
    }

    .news-input,
    input,
    .subs {
        margin-top: 5px;
    }

    .news-img {
        margin-top: 10px;

    }

    .news-img img {
        height: 250px;
        margin: 0 8px;
    }

    .fix-img {
        position: absolute;
        
    }

    .fix-text {
        position: relative;
        top: 99px;
        left: 180px;
        height: 80px;
        width: 170px;
    }

    .travel {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .save {
        color: #FFF;
        font-family: Mulish;
        font-size: 21.138px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    footer{
        margin-top: 10px;
        padding: 10px;
    }

    .i {
        height: 25px;
    }

    .h {
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .t {
        color: #FF5400;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

}

/* resposive style */